@import url("https://fonts.googleapis.com/css2?family=Anton&family=Kablammo&family=Roboto:wght@500&display=swap");


*{
    font-family: 'Roboto', sans-serif;
}

body{
    margin:0px
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgb(46, 46, 43);
  margin:0px;
  overflow: auto;
  
}

.navbar a {
  float: left;
  border-right: 2px;
  color: wheat;
  text-decoration: none;
  margin-right: 10px;
  
}

.navbar a:hover {
    color: red;
    background-color: rgb(92, 99, 99);
    cursor: pointer;

}

.content {
  margin-top: 50px;
}
